<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link rel="stylesheet" href="/public/style.css" >
</head>

<body>
<!-- Logo, Sobre, Receitas -->
 <header class="head">
     <div class="links">
     <img src="/img/logo.png" alt="Logo Foody">
        <a id="sobre" href="/">Sobre</a>
        <a id="receitas" href="/">Receitas</a>
    </div>
 </header>

<!-- Fundo rosa, h2 As melhores Receitas, texto, Chef cozinha -->
<section id="fundo-rosa">
    <div class="melhores-receitas">
    <h1><strong>As mehores receitas</strong></h1>

        <p>
        Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
        </p> 
     </div>
    <div class="logo_gordinho">
        <img src="/img/chef.png" alt="Chef de cozinha">
     </div>
</section>

<!-- h2 mais acessadas, fotos das receitas -->
<section2 class="wrapper">
    <div>
        <h2 id="as-mais-acessadas"><strong>As mais acessadas</strong></h2>
    </div>
</section2>     

<section3 class="recipes">

    <div class="recipe" id="burger.png">
        <div class="card__image-container">
            <img src="/img/burger.png" alt="Triplo bacon">
        </div>
        <div class="card__content" id="">
            <p>Triplo Bacon</p>
        </div>    
        <div class="card__chef" id="">
            <p>por Jorge Relato</p>
        </div>
    </div>        

    <div class="recipe" id="pizza.png">
        <div class="card__image-container">
            <img src="/img/pizza.png" alt="Pizza 4 estações">
        </div>
        <div class="card__content" id="">
            <p>Pizza 4 estações</p>
        </div>    
        <div class="card__chef" id="">
            <p>por Fabiana Melo</p>
        </div>
    </div>

    <div class="recipe" id="espaguete.png">
        <div class="card__image-container">
            <img src="/img/espaguete.png" alt="Espaguete ao alho">
        </div>
        <div class="card__content" id="">
            <p>Espaguete ao alho</p>
        </div>    
        <div class="card__chef" id="">
            <p>por Júlia Kinoto</p>
        </div>
    </div>

    <div class="recipe" id="lasanha.png">
        <div class="card__image-container">
            <img src="/img/lasanha.png" alt="Lasanha mac n’ cheese">
        </div>  
        <div class="card__content" id="">
            <p>Lasanha mac n’ cheese</p>
        </div>    
        <div class="card__chef" id="">
            <p>por Juliano Vieira</p>
        </div>
    </div>

    <div class="recipe" id="doce.png">
        <div class="card__image-container" id="doce.png" >
            <img src="/img/doce.png" alt="Docinhos pão-do-céu">
        </div>    
        <div class="card__content" id="">
            <p>Docinhos pão-do-céu</p>
        </div>    
        <div class="card__chef" id="">
            <p>por Ricardo Golvea</p>
        </div>
    </div>

    <div class="recipe" id="asinhas.png">
        <div class="card__image-container">
            <img src="/img/asinhas.png" alt="Asinhas de frango ao barbecue">
        </div>
        <div class="card__content" id="">
            <p>Asinhas de frango ao barbecue</p>
        </div>    
        <div class="card__chef" id="">
            <p>por Vania Steroski</p>
        </div>
    </div>    
</section3>

<!-- footer -->
    <footer id="footer">
        <p>Todos os direitos reservados</p>
    </footer> 
</body>

<!-- abertura do modal pop-up -->

    <div class="modal__overlay">
     <div class="modal">
         <a class="close_modal">
         <i class="material-icons">close</i>
         </a>
     </div>

     <!-- java script -->
     <div class="modal__content">
        <img src="" alt="">
      </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>